@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-slate-900 transition-colors duration-300;
  }
  .dark body {
    @apply bg-black text-slate-100;
  }
}

@layer components {
  .plain-pages section :is(div, article, blockquote) {
    border-radius: 0 !important;
    box-shadow: none !important;
    border-width: 0 !important;
  }
}